@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    
}


.job {
    width: 400px;
    height: 650px;
    background: linear-gradient(0deg, rgba(243,189,68,1) 0%, rgba(246,213,75,1) 100%);
    position: absolute;
    transform:translateY(-50%);
    top: 50%;
    border-radius: 30px;
    transition: all 20ms ease;
}

.footer {
    width: 400px;
    height: 150px;
    background: white; 
    position: absolute;
    top: 100%;
    transform: translatey(-100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.postbtn {
    color: rgb(0, 183, 255);
    border-color:rgb(0, 183, 255);
    width: 190px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
    font-weight: 700;
    border-radius: 15px;
    border-style: solid;
    transition: all 120ms ease;
}

.footer button {
    position: absolute;
    background: transparent;
}

.taxibtn {
    width: 190px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
    color: rgba(243,189,68,1);
    font-weight: 700;
    border-radius: 15px;
    border-style: solid;
    border-color:rgba(243,189,68,1);
    transition: all 120ms ease;
}

.trashbtn {
    width: 190px;
    height: 55px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
    color: rgba(243,189,68,1);
    font-weight: 700;
    border-radius: 15px;
    border-style: solid;
    border-color:rgba(243,189,68,1);
    transition: all 120ms ease;
}




.text {
    width: 400px;
    height: 200px;
    position: absolute;
    background: transparent;
    left: -6px;
    top: 80px;
    font-size: 201px;
    text-overflow: clip;
    color: rgba(51, 51, 51, 0.556);
}

.taxi {
    background: transparent;
    position: absolute;
    left: -420px;
    width: 1250px;
    top: 25px;
}





.job h1, h2, h3, h4 {
    background: transparent;
}

.job h2 {
    font-size: 22px;
    position: absolute;
    top: 95px;
    left: 40px;
    font-weight: 600;
}

.taxicion {
    position: absolute;
    background: transparent;
    width: 130px;
    top: 5px;
}

.job h3 {
    position: absolute;
    left: 250px;
    font-size: 15px;
    font-weight: 400;
    top: 20px;
}

.job h4 {
    font-size: 13px;
    font-weight: 400;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    text-align: left;
}


.postbtn:hover {
    animation: pulse-animation2 2s infinite;
  }

.taxibtn:hover {
    animation: pulse-animation 2s infinite;
  }

  .trashbtn:hover {
    animation: pulse-animation3 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(243,189,68,0.6);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }

  @keyframes pulse-animation2 {
    0% {
      box-shadow: 0 0 0 0px rgb(0, 183, 255);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }

  @keyframes pulse-animation3 {
    0% {
      box-shadow: 0 0 0 0px rgb(0, 183, 255);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }


.close {
    width: 25px;
    height: 25px;
    color: red;
    background: transparent;
    left: 363px;
    font-size: 20px;
    position: absolute;
    border-style: none;
    top: 7px;
}


.job_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#left {
    position: absolute;
    top: 65px;
    left: 50px; 
    border-style: none;
    color: #333;
    font-size: 17px;
    cursor: pointer;

}

#right {
    position: absolute;
    top: 65px;
    left: 320px; 
    border-style: none;
    color: #333;
    font-size: 17px;
    cursor: pointer;

}



#postnord {
    width: 400px;
    height: 650px;
    background: linear-gradient(0deg, rgb(0, 217, 255) 0%, rgb(0, 183, 255) 100%);
    position: absolute;
    transform:translateY(-50%);
    top: 50%;
    border-radius: 30px;
    transition: all 20ms ease;
}


#trash {
    width: 400px;
    height: 650px;
    background: linear-gradient(0deg, rgb(103, 255, 57) 0%, rgb(0, 185, 37) 100%);
    position: absolute;
    transform:translateY(-50%);
    top: 50%;
    border-radius: 30px;
    transition: all 20ms ease;
}

